.character {
    display: flex;
    flex-direction: column;
}
.characterTop {
    display: flex;
    flex-direction: row;

}
.characterInfo {
    font-size: 0.8rem;
}
.characterGear {
    display: flex;
    flex-wrap: wrap;
}
.gearImg {
    width: 5rem;
    background-image: url("https://res.cloudinary.com/dvml0gelc/image/upload/v1699305604/game/UI%20elements/CasualUI_15_5_xohkuj.png");
    background-size: 100% 100%;
}

.characterInventory {
    display: flex;
  
    justify-content: center;
}

.inventoryItemImg {
    width: 4rem;
}
.characterConsumables{
    display: flex;
    justify-content: center;
}
.consumablesItemImg {
    width: 4rem;
}