.signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: saddlebrown;
}

.signupButton {
    background-image: url('https://res.cloudinary.com/dvml0gelc/image/upload/v1697722678/game/UI%20elements/plank_15_zd6j9x.png'); 
    background-size: cover;
    background-size: 100% 100%;
    width: 6rem;
    height: 2.2rem;
    text-decoration: none;
    color:burlywood;
    text-align: center;
    display: flex;
    align-items: center;
    margin: 2rem;
    justify-content: center;
    border: none;
}

.signupInput {
    color:burlywood;
    background-image: url('https://res.cloudinary.com/dvml0gelc/image/upload/v1697723327/game/UI%20elements/Plank_09_zf9nfi.png'); 
    background-size: cover;
    background-size: 100% 100%;
    height: 1.5rem;
    border: none;

}

.signupLabel {
    color: black;
    font-weight: bold;
}
.signupForm {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.errorMsg {
    color: red;
    font-weight: bold;
}