.train{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.trainTitle{
    background-image: url('https://res.cloudinary.com/dvml0gelc/image/upload/v1699737871/game/UI%20elements/title_lbj4rd.png'); 
    background-size: cover;
    background-size: 100% 100%;
    height: 5rem;
    width: 20rem;
    color: saddlebrown;
}

.trainImg {
    width: 10rem;
    margin-bottom: 2rem;
    background-image: url("https://res.cloudinary.com/dvml0gelc/image/upload/v1697749132/game/UI%20elements/el_26_02_eauegf.png");
    background-size: 100% 100%;
    padding: 1.5rem;
}

.trainStats{
display: flex;
flex-direction: column;
}
.stat{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    
    
}
.statCost{
    display: flex;
    align-items: baseline;
}
.coinImg{
    width: 1.5rem;
    height: 1.5rem;
    margin-left:1rem ;
    margin-top: 0.3rem;
}
.trainBtn { display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    color: burlywood;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-image: url('https://res.cloudinary.com/dvml0gelc/image/upload/v1697722678/game/UI%20elements/plank_15_zd6j9x.png'); 
    background-size: cover;
    background-size: 100% 100%;}
