.navegations {
    display: flex;
    justify-content: space-around;
    
}
.navLinks {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  color: #fff; /* Color del texto */
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-image: url('https://res.cloudinary.com/dvml0gelc/image/upload/v1697722678/game/UI%20elements/plank_15_zd6j9x.png'); 
    background-size: cover;
    background-size: 100% 100%;
}



.navHealth {
    display: flex;
    justify-content: center;
    
}

.navResources {
display: flex;
justify-content: space-around;
}