.navBar {
    max-width: 100vw;
}

.navegations {
    display: flex;
    justify-content: space-around;  
}

.navLinks {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  color: burlywood;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-image: url('https://res.cloudinary.com/dvml0gelc/image/upload/v1697722678/game/UI%20elements/plank_15_zd6j9x.png'); 
  background-size: cover;
  background-size: 100% 100%;
}
.characterLink{
    text-decoration: none;
    color: white
}
.navStats {
    display: flex;
    justify-content: space-around;
}

.navHealth {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    background-image: url('https://res.cloudinary.com/dvml0gelc/image/upload/v1699737875/game/UI%20elements/strip_red_unmvf7.png'); 
    background-size: cover;
    background-size: auto 100%;
    height: 1rem; 
    background-position: left top;
}

.navImg{
    width: 2rem;
    height: 2rem;
    margin: 0 0.3rem;
}
.navResources {
display: flex;
justify-content: space-between;
align-items: center;
font-size: 1.2rem;
margin-right: 1rem;
}