.tooltip {
    position: absolute;
    background: url('https://res.cloudinary.com/dvml0gelc/image/upload/v1697722761/game/UI%20elements/UI_02_05_bk2n3i.png') no-repeat;
    background-size: 100% 100%;
    width: 10rem; /* Ancho deseado */
    height: 15rem; /* Alto deseado */
    color: black; /* Color de texto deseado */
    display: none; /* Inicialmente, ocultar el tooltip */
    
  }
  
  .tooltip.active {
    display: block; /* Mostrar el tooltip cuando está activo */
  }